spring:
  application:
    name: Java21-VirtualThread-CryptoEngine
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/cryptodb}
    username: ${DB_USERNAME:devuser}
    password: ${DB_PASSWORD:devpassword}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  threads:
    virtual:
      enabled: true
  logging:
    level:
      root: INFO
      com.crypto.watcher: DEBUG
server:
  port: 8080
  error:
    include-stacktrace: never # Hatalarda stack trace'i dışarı sızdırma (Güvenlik!)